
// $light-base: rgb(231, 241, 253);
$light-base: rgb(231, 237, 245);

// $light-base: rgb(250, 250, 250);

$text-color: #444;

$danger: #ef476f;
$warning: #ffd166;
$success: #06d6a0;
$info: #118ab2;
