@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 1000vh;
}

body,
html {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat";
    font-weight: 300;
    background: #d6d6d6;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0px;
    margin: 0px;
}

:root {
    --animate-duration: 1500ms;
    --animate-delay: 0.9s;
}